
.red {
   /*[BAR STYLE] */
  background: #AA1100!important; /* Old browsers */ 
  background: -moz-linear-gradient(top, #FF0000 0%, #AA1100 99%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FF0000 0%,#AA1100 99%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FF0000 0%,#AA1100 99%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF0000', endColorstr='#AA1100',GradientType=0 )!important; /* IE6-9 */
}

.orange {
   /*[BAR STYLE] */
  background: #FF4400!important; /* Old browsers */ 
  background: -moz-linear-gradient(top, #FF7700 0%, #FF4400 99%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FF7700 0%,#FF4400 99%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FF7700 0%,#FF4400 99%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF7700', endColorstr='#FF4400',GradientType=0 )!important; /* IE6-9 */
}

.yellow {
   /*[BAR STYLE] */
  background: #FFBB11!important; /* Old browsers */ 
  background: -moz-linear-gradient(top, #FFDD00 0%, #FFBB11 99%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #FFDD00 0%,#FFBB11 99%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #FFDD00 0%,#FFBB11 99%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFDD00', endColorstr='#FFBB11',GradientType=0 )!important; /* IE6-9 */
}

.green {
   /*[BAR STYLE] */
  background: #55AA00!important; /* Old browsers */ 
  background: -moz-linear-gradient(top, #00FF00 0%, #55AA00 99%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00FF00 0%,#55AA00 99%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00FF00 0%,#55AA00 99%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00FF00', endColorstr='#55AA00',GradientType=0 )!important; /* IE6-9 */
}

.blue {
   /*[BAR STYLE] */
  background: #000055!important; /* Old browsers */ 
  background: -moz-linear-gradient(top, #0000FF 0%, #000055 99%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0000FF 0%,#000055 99%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0000FF 0%,#000055 99%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000FF', endColorstr='#000055',GradientType=0 )!important; /* IE6-9 */
}

.indigo {
   /*[BAR STYLE] */
  background: #310062!important; /* Old browsers */ 
  background: -moz-linear-gradient(top, #8A2BE2 0%, #310062 99%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8A2BE2 0%,#310062 99%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8A2BE2 0%,#310062 99%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8A2BE2', endColorstr='#310062',GradientType=0)!important; /* IE6-9 */
}

.violet {
   /*[BAR STYLE] */
  background: #4B0082!important; /* Old browsers */ 
  background: -moz-linear-gradient(top, #C77DF3 0%, #4B0082 99%)!important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #C77DF3 0%,#4B0082 99%)!important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #C77DF3 0%,#4B0082 99%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C77DF3', endColorstr='#4B0082',GradientType=0 )!important; /* IE6-9 */
}