@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: white;
	overflow: hidden;
}

#song {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 6px;
	box-sizing: border-box;
	width: 300px;
	overflow: hidden;
}

#header {
	text-align: center;
	color: rgba(230,126,34,1);
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
	border-radius: inherit;
	background-color: rgba(0,0,0,0.5);
}

.initialHide {
	visibility: hidden;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-120%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -120%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}